* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
h1 {
    margin: 20px;
    font-size: 6rem;
}
#bottomContainer {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    height: 500px;
}
.img {
    width: 200px;
    height: 200px;
}
p {
    font-size: 30px;
    font-style: italic;
    margin: 30px;
    text-align: center;
}
footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.button {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 15px 50px;
    font-size: 50px;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
  